body {
  margin-top: 20px;
  background-color: #fff;
}

.card {
  margin: 20px;
  background-color: #212124;
  border: #fe1f96 solid 3.5px;
  font-family: 'Nunito', sans-serif;
  display: flex;
  transition: ease 1s all;
  align-items: flex-start;
}

.card:hover {
  filter: drop-shadow(0 0 30px #212124);
} 


.img {
  margin: 20px;
  object-fit: cover;
  max-height: 300px;
  max-width: 300px;
  border: #fe1f96 solid 2px;
}

.h3 {
  font-family: 'Bebas Neue', sans-serif;
  color: #fe1f96;
  font-size: 10vh;
  -webkit-text-stroke: 2.5px #fff;
  paint-order: stroke fill;
  display: flex;
  justify-content: flex-start;
  margin: 20px;
  margin-left: 20px;
  margin-bottom: auto;
}

p {
  margin-top: 0;
  margin-left: 20px;
  font-family: 'Nunito', sans-serif;
  font-size: 4vh;
  color: #fff;
}

.h2 {
  font-family: 'Bebas Neue', sans-serif;
  color: #fe1f96;
  font-size: 10vh;
  -webkit-text-stroke: 2.5px #fff;
  paint-order: stroke fill;
  display: flex;
  justify-content: flex-start;
  margin: 20px;
  margin-left: auto;
  margin-bottom: auto;
}

.twitter-tweet {
  display: flex;
  margin: 20px;
}

.button {
  margin: 20px;
  padding: 20px;
  margin-top: 0;
  background-color: #212124;
  border: #fe1f96 solid 2px;
  font-family: 'Nunito', sans-serif;
  display: flex;
  flex-direction: row;
  transition: ease 1s all;
}

.button:hover {
  scale: 1.02;
  filter: drop-shadow(0 0 30px #212124);
  transition: ease 1.5s all;
}


.a {
  font-family: 'Bebas Neue', sans-serif;
  color: #fe1f96;
  font-size: 10vh;
  -webkit-text-stroke: 4px #fff;
  paint-order: stroke fill;
  text-decoration: none;
}

.footer {
  margin: 20px;
  margin-top: 0;
  color: #212124;
  justify-self: center;
  font-size: 1vh;
}