body {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 55%),
        url('background.webp') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px;
}

.h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 60px;
    color: #333;
    margin: 0;
}

.nav {
    color: #333;
    background: #ff31be75;
    backdrop-filter: blur(10px);
    border-radius: 15px;
    border: 1.5px solid #333;
    padding: 10px;
}

.card-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.article {
    display: flex;
    backdrop-filter: blur(10px);
    border-radius: 15px;
    font-family: 'Montserrat', sans-serif;
    flex: 1 1 450px;
}

.card1 {
    background: #33333375;
    border: 1.5px solid #333;
    color: #ffffff;
}

.img {
    object-fit: cover;
}

.temptation {
    width: 120px;
    height: 120px;
    margin: 20px;
    border-radius: 15px;
}

.thorn {
    background-size: cover;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 14px;
    flex: 1;
    min-height: 0;
    border-bottom: 1.5px solid #333;
}

.card-content {
    display: flex;
    flex-direction: column;
    padding: 20px 20px 20px 0;
}

.h2 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 30px;
}

.title1 {
    margin: 0 0 10px 0;
}

p {
    font-size: 15px;
    margin: auto;
    padding: auto;
}

li::marker {
    content: "— ";
    color: #333;
}

.card2 {
    background-color: #ffffff75;
    border: 1.5px dashed #333;
    color: #333;
}

.card3 {
    background-color: #31ff5075;
    flex-direction: column;
    border: 1.5px solid #333;
    max-height: 400px;
    height: 340px;
}

.title2 {
    padding: auto;
    flex-shrink: 0;
    margin: 10px;
}